*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  display: block;
}

input,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}